<div class="col-md-6 centerform">
  <h1>Register</h1>

  <form ng-submit="register.doRegister()">
    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" ng-model="register.registerData.username">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" ng-model="register.registerData.password">
    </div>

    <button type="submit" class="btn btn-block btn-primary">
      <span>Register</span>
    </button>
  </form>
</div>